<div class="ink-grid">
  <div class="column-group push-center push-middle bottom-space half-top-padding">
    <div class="Register all-60 push-center push-middle padding">
      <p><%=@user.name%></p>
      <p><%=@user.email%></p>
    </div>
  </div>
</div>