
<div class="Home all-100">
  <section class="module parallax parallax-1">
    <div class="container">
      <h1>StackPoint</h1>
    </div>
  </section>

  <!--<section class="module content">-->
  <!--<div class="container">-->
  <div class="ink-grid">
    <div class="push-center">
      <div class="column-group all-100 push-center padding bottom-space">

        <!--<div class="column-group all-100 left-padding right-padding half-top-padding half-bottom-padding bottom-space push-middle">-->
          <!--<div class="all-100 align-center" >-->
            <!--<h1>2. Create your Project Abstract.</h1>-->
          <!--</div>-->
        <!--</div>-->
        <div class="Steps column-group all-100 left-padding right-padding half-top-padding half-bottom-padding bottom-space push-center">
          <div class="Header all-95 align-center half-top-padding half-bottom-padding" >
            <h1>Welcome to StackPoint</h1>
            <p>Your one stop Question and Tutorial site</p>
          </div>
          <div class=" all-100 horizontal-gutters push-center align-center top-padding">
            <div class="column-group all-100 top-padding">
                <div class="all-33 push-left top-padding">
                  <%= image_tag("create.png", class: "Icon") %>
                  <div class=" padding">
                    <h4>Create an Account</h4>
                    <p>Simply Register with an email to begin your project search <%= link_to "Sign up now!", register_path %></p>
                  </div>
                </div>
                <div class="all-33 push-center top-padding">
                  <%= image_tag("quest.png", class: "Icon") %>
                  <div class=" padding">
                    <h4>Ask A Question</h4>
                    <p>Or better yet read a Tutorial</p>
                  </div>
                </div>
                <div class="all-33 push-right top-padding">
                  <%= image_tag("ansr.png", class: "Icon") %>
                  <div class="padding">
                    <h4>Answer Questions</h4>
                    <p>Once you have become a master solve other peoples problems or write a tutorial for your self.</p>
                  </div>
                </div>
            </div>
          </div>
        </div>



      </div>
    </div>
  </div>

</div>

<script type="text/javascript">
    (function(){

        var parallax = document.querySelectorAll(".parallax"),
                speed = .5;

        window.onscroll = function(){
            [].slice.call(parallax).forEach(function(el,i){
                if(i == 0) {
                    var windowYOffset = window.pageYOffset,
                            elBackgrounPos = "50%" + (windowYOffset * speed -50) + "px";
                }
                else{
                    var windowYOffset = window.pageYOffset,
                            elBackgrounPos = "50%" + (windowYOffset * speed + 200) + "px";
                }

                el.style.backgroundPosition = elBackgrounPos;

            });
        };

    })();
</script>
