.rating {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  li {
    float: right;
    //text-decoration: none;
  }
}

.Stars {
  label > input {
    /* HIDE RADIO */
    visibility: hidden; /* Makes input not-clickable */
    position: absolute; /* Remove input from document flow */
  }
  label > input + img {
    /* IMAGE STYLES */
    cursor: pointer;
    border: 2px solid transparent;
  }
  label > input:checked + img {
    /* (RADIO CHECKED) IMAGE STYLES */
    border: 2px solid #0d68c2;
  }
}
  .SIcon {
    max-width: 1.5em;
    max-height: 1.5em;
  }
